.table {
    & > div {
        &:first-child > .table-div {
            border-radius: 3px 3px 0px 0px;
        }

        &:last-child > .table-div {
            border-radius: 0px 0px 3px 3px;
        }
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #353535;
        border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b2b2b2;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
}
