.table {
    & > div {
        &:first-child > .table-div {
            border-radius: 3px 3px 0px 0px;
        }

        &:last-child > .table-div {
            border-radius: 0px 0px 3px 3px;
        }
    }
}
